* text=auto eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.go text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.tmpl text eol=lf
*.mod text eol=lf
*.sum text eol=lf
Makefile text eol=lf
Dockerfile* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
